.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-item {
  padding: 0 25px;
  border-right: 1px solid #c7c7c7;
  border-left: 1px solid #c7c7c7;
  min-height: 76px;
  font-size: 18px;
  text-align: center;
  font-weight: 900;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-item a {
  color: #543c67 !important;
}

.nav-item:nth-child(4) > a:nth-child(1) {
  padding-left: 30px;
  padding-right: 30px;
  color: #0867c0 !important;
}

.nav-link {
  text-align: center;
  font-size: 18px;
}

a.nav-link:nth-child(5) {
  padding-top: 23px;
  width: 142px;
  background-color: #fec357;
  font-size: 18px;
  margin-left: 1px;
  color: #000;
  font-weight: 900;
}

.navbar {
  padding-top: 0 !important;
}

.container-fluid {
  padding-right: 0 !important;
}

.container-fluid {
  background-color: #fff;
  box-shadow: 0 4px 2px -2px rgb(195, 195, 195);
}

@media (max-width: 1000px) {
  .dropdown:hover .dropdown-menu {
    display: initial;
  }

  a.nav-link:nth-child(5) {
    width: 98%;

  }
}

